apiVersion: apps/v1
kind: Deployment
metadata:
  name: kotlin-spring-boot-demo
  labels:
    app: kotlin-spring-boot-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kotlin-spring-boot-demo
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: kotlin-spring-boot-demo
    spec:
      containers:
        - name: kotlin-spring-boot-demo
          image: fmahmud26/kotlin-spring-boot-demo:${IMAGE_TAG}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: production
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
      imagePullSecrets:
        - name: dockerhub-secret
