name: Kotlin Spring Boot CI/CD to EKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      # Secret scanning
      - name: Gitleaks Scan
        uses: zricethezav/gitleaks-action@v2
        with:
          args: "--verbose"
        continue-on-error: false

      # Configure AWS credentials for EKS
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Install kubectl manually
      - name: Install kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          kubectl version --client

      # Update kubeconfig for EKS
      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }}

      # Log in to Docker Hub
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & push Docker image
      - name: Build & push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/kotlin-spring-boot-demo:latest

      # Deploy to EKS
      - name: Deploy to EKS
        run: |
          # Application name variable
          APP_NAME=kotlin-spring-boot-demo

          # Update Deployment image
          kubectl set image deployment/$APP_NAME $APP_NAME=${{ secrets.DOCKER_USERNAME }}/$APP_NAME:latest
          
          # Wait until rollout is complete
          kubectl rollout status deployment/$APP_NAME
